<%- include("partials/header") %>
<div class="content">
<form class="" action="/searchFail" method="post">

    <h2 style="text-align: center">Sorry! Something is Wrong.</h2>
    <div class="text-center">
      <img src="images/error.gif" alt="">

    </div>

</form>

<form class="backToHomePage" action="/back" method="post">
  <div class="text-center">
    <button type="submit" name="button" class="btn btn-success">Search another movie</button>
  </div>
</form>
</div>

<%- include("partials/footer") %>
